/*********************
variables
*********************/
/*******************
mixins
*******************/
/*********************
basic styles
*********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  color: #1f1f1f;
  text-decoration: none;
}
a:hover {
  color: #fff;
  transition: 0.3s ease;
}

.container {
  width: 80%;
  margin: auto;
}

/*************
nav
*************/
nav {
  background: linear-gradient(to right, #ef1f52, #fff);
}
nav .navbar-brand {
  font-size: 1rem;
}
nav .navbar-brand span {
  font-size: 1.7rem;
}
nav .nav-item {
  margin-right: 15px;
  text-transform: uppercase;
  font-size: 0.8rem;
}
nav .nav-item .signUp {
  background: #ef1f52 !important;
  color: #fff !important;
  height: 90%;
  padding: 8px 20px !important;
}
nav .nav-item .search {
  background: #1f1f1f;
  height: 90%;
  color: #fff !important;
}

/*************
header
*************/
header {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(../img/header.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
}
header hgroup {
  padding-right: 200px;
}
header hgroup h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
header hgroup h4 {
  color: #ef1f52;
  font-size: 1.5rem;
  padding-top: 10px;
  font-weight: 700;
}
header hgroup p {
  color: #ef1f52;
  font-size: 0.9rem;
  padding-top: 10px;
}
header button {
  background: #ef1f52;
  color: #fff;
  padding: 10px 30px;
  border: none;
  font-size: 0.9rem;
  margin-right: 200px;
}

/*****************
about us
*****************/
.aboutUs {
  padding: 50px 0;
}
.aboutUs h2 {
  color: #cccac5;
}
.aboutUs h5 {
  font-size: 0.9rem;
  font-weight: 700;
}
.aboutUs h3 {
  font-size: 1.9rem;
  font-weight: 700;
}
.aboutUs h3 span {
  color: #ef1f52;
}
.aboutUs p {
  font-size: 1rem;
}
.aboutUs .col-md-5 {
  background-image: url(../img/about.jpg);
  background-size: cover;
  background-position: center;
  height: 40vh;
}
.aboutUs .col-md-7 {
  padding: 0 30px;
}
.aboutUs .col-md-7 h3 {
  font-size: 1.7rem;
}
.aboutUs .col-md-7 p {
  font-size: 0.8rem;
}

/***************
services
***************/
.services {
  padding: 50px 0;
}
.services h2 {
  color: #cccac5;
}
.services h5 {
  font-size: 0.9rem;
  font-weight: 700;
}
.services h3 {
  font-size: 1.9rem;
  font-weight: 700;
}
.services h3 span {
  color: #ef1f52;
}
.services p {
  font-size: 1rem;
}
.services .col-md-4 {
  flex: 0 0 30%;
  padding: 10px;
}
.services .col-md-4 i {
  color: #ef1f52;
  font-size: 3rem;
  padding-bottom: 20px;
}
.services .col-md-4 h5 {
  font-size: 1rem;
}
.services .col-md-4 p {
  font-size: 0.8rem;
}

/*************
what we done 
*************/
.whatWeDone {
  background: #1f1f1f;
  padding: 50px 0;
}
.whatWeDone h2 {
  color: #cccac5;
}
.whatWeDone h5 {
  font-size: 0.9rem;
  font-weight: 700;
  color: #fff;
}
.whatWeDone h3 {
  font-size: 1.9rem;
  font-weight: 700;
  color: #fff;
}
.whatWeDone h3 span {
  color: #ef1f52;
}
.whatWeDone p {
  font-size: 1rem;
  color: #fff;
}
.whatWeDone button {
  background: #ef1f52;
  color: #fff;
  padding: 10px 30px;
  border: none;
  font-size: 0.9rem;
  margin-right: 200px;
}
.whatWeDone .col-md-4 {
  flex: 0 0 30%;
}
.whatWeDone .col-md-4 h3 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #ef1f52;
}
.whatWeDone .col-md-4 h5 {
  font-size: 1.3rem;
  font-weight: 500;
  color: #ef1f52;
  text-transform: uppercase;
}
.whatWeDone .col-md-4 h5::after {
  display: block;
  content: "";
  width: 70px;
  height: 2px;
  background: #fff;
  margin: 20px auto;
}

/*******************
our team 
******************/
.team {
  padding: 50px 0;
}
.team h2 {
  color: #cccac5;
}
.team h5 {
  font-size: 0.9rem;
  font-weight: 700;
  color: #1f1f1f;
  text-transform: uppercase;
}
.team h3 {
  font-size: 1.9rem;
  font-weight: 700;
  color: #1f1f1f;
  text-transform: uppercase;
}
.team h3 span {
  color: #ef1f52;
}
.team p {
  font-size: 1rem;
  color: #1f1f1f;
}
.team img {
  width: 100%;
  border-radius: 50%;
  border: 10px solid #cccac5;
}
.team h4 {
  color: #ef1f52;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 20px;
}
.team .col-md-4 p {
  font-size: 0.8rem;
}

/*# sourceMappingURL=style.css.map */
