/*********************
variables
*********************/

$fontFamily: 'Raleway',
sans-serif;
$font: 16px;
$black: #1f1f1f;
$pink: #ef1f52;
$gray: gray;
$lightgray: #cccac5;
$boxShadow: #cccac5;
$white: #fff;
$transition: .3s ease;
$padding: 50px 0;

/*******************
mixins
*******************/

@mixin btn {
    background: $pink;
    color: $white;
    padding: 10px 30px;
    border: none;
    font-size: .9rem;
    &:hover {
        color: $pink;
        background: $white;
        transition: $transition;
    }
}


/*********************
basic styles
*********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontFamily;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

ul {
    list-style: none;
}

a {
    color: $black;
    text-decoration: none;
    &:hover {
        color: $white;
        transition: $transition;
    }
}

.container {
    width: 80%;
    margin: auto;
    @media(max-width: 768px) {
        width: 90%;
    }
}


/*************
nav
*************/

nav {
    background: linear-gradient(to right, $pink, $white);
    .navbar-brand {
        font-size: 1rem;
        span {
            font-size: 1.7rem;
        }
    }
    .nav-item {
        margin-right: 15px;
        text-transform: uppercase;
        font-size: .8rem;
        .signUp {
            background: $pink !important;
            color: $white !important;
            height: 90%;
            padding: 8px 20px !important;
        }
        .search {
            background: $black;
            height: 90%;
            align-items: center !important;
            color: $white !important;
        }
    }
}


/*************
header
*************/

header {
    background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1)), url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh;
    hgroup {
        padding-right: 200px;
        @media(max-width: 768px) {
            padding-right: 20px;
        }
        h2 {
            font-size: 2.5rem;
            font-weight: 700;
        }
        h4 {
            color: $pink;
            font-size: 1.5rem;
            padding-top: 10px;
            font-weight: 700;
        }
        p {
            color: $pink;
            font-size: .9rem;
            padding-top: 10px;
        }
    }
    button {
        @include btn;
        margin-right: 200px;
    }
}


/*****************
about us
*****************/

.aboutUs {
    padding: $padding;
    h2 {
        color: $lightgray;
    }
    h5 {
        font-size: .9rem;
        font-weight: 700;
    }
    h3 {
        font-size: 1.9rem;
        font-weight: 700;
        span {
            color: $pink;
        }
    }
    p {
        font-size: 1rem;
    }
    .col-md-5 {
        background-image: url(../img/about.jpg);
        background-size: cover;
        background-position: center;
        height: 40vh;
    }
    .col-md-7 {
        padding: 0 30px;
        h3 {
            font-size: 1.7rem;
            @media(max-width: 768px) {
                padding-top: 10px;
            }
        }
        p {
            font-size: .8rem;
        }
    }
}


/***************
services
***************/

.services {
    padding: $padding;
    @media(max-width: 768px) {
        padding-top: 10px;
    }
}

h2 {
    color: $lightgray;
}

h5 {
    font-size: .9rem;
    font-weight: 700;
}

h3 {
    font-size: 1.9rem;
    font-weight: 700;
    span {
        color: $pink;
    }
}

p {
    font-size: 1rem;
}

.col-md-4 {
    flex: 0 0 30%;
    @media(max-width: 768px) {
        flex: 0 0 100%;
    }
    padding: 10px;
    i {
        color: $pink;
        font-size: 3rem;
        padding-bottom: 20px;
    }
    h5 {
        font-size: 1rem;
    }
    p {
        font-size: .8rem;
    }
}


/*************
what we done 
*************/

.whatWeDone {
    background: $black;
    padding: $padding;
    h2 {
        color: $lightgray;
    }
    h5 {
        font-size: .9rem;
        font-weight: 700;
        color: $white;
    }
    h3 {
        font-size: 1.9rem;
        font-weight: 700;
        color: $white;
        span {
            color: $pink;
        }
    }
    p {
        font-size: 1rem;
        color: $white;
    }
    button {
        @include btn;
        margin-right: 200px;
    }
    .col-md-4 {
        flex: 0 0 30%;
        h3 {
            font-size: 3.5rem;
            font-weight: 700;
            color: $pink;
        }
        h5 {
            font-size: 1.3rem;
            font-weight: 500;
            color: $pink;
            text-transform: uppercase;
            &::after {
                display: block;
                content: "";
                width: 70px;
                height: 2px;
                background: $white;
                margin: 20px auto;
            }
        }
    }
}


/*******************
our team 
******************/

.team {
    padding: $padding;
    h2 {
        color: $lightgray;
    }
    h5 {
        font-size: .9rem;
        font-weight: 700;
        color: $black;
        text-transform: uppercase;
    }
    h3 {
        font-size: 1.9rem;
        font-weight: 700;
        color: $black;
        text-transform: uppercase;
        span {
            color: $pink;
        }
    }
    p {
        font-size: 1rem;
        color: $black;
    }
    img {
        width: 100%;
        border-radius: 50%;
        border: 10px solid $boxShadow;
        opacity: .85;
    }
    h4 {
        color: $pink;
        font-size: 1.1rem;
        font-weight: 700;
        padding: 20px;
    }
    .col-md-4 {
        p {
            font-size: .8rem;
        }
    }
}


/*************
footer
*************/

footer {
    color: $white;
    background: linear-gradient(to right, $black, $pink);
    h5 {
        color: $pink;
        font-size: .9rem;
    }
    h4 {
        color: $pink;
        font-size: 1.3rem;
        padding-bottom: 20px;
    }
    i {
        font-size: 1.5rem;
    }
    p {
        font-size: .8rem;
    }
}